@charset "utf-8";

body,
html {
	height: 100%;
	width: 100%;
}

body,
td,
th,
p {
	color: #333;
	font: 12pt/1.5 'Source Sans Pro', sans-serif;
}

body {
	background-color: #fcfcfc;
	margin: 0;
	position: relative;
}

ul,
li {
	color: #333;
	font-size: 12pt;
}

a {
	color: #A36A00;
	text-decoration: none;

	&:hover,
	&:focus {
		color: #3397db;
		text-decoration: none;
	}

	img {
		border: none 0 #fff;
	}
} /* a */

h1,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

h2 {
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 1px;
	margin: 0 0 20px;
	text-align: center;
}

aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

img {
	max-width: 100%;
}

.main-content {
  background-color: #fcfcfc;
	margin-top: 48px;
  min-height: 100%;
}

.footer {
  background-color: #303030;
  color: #BDBDBD;
  font-size: 12pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;

	strong {
		color: #DC831E;
	}
} /* footer */

.off-screen {
	left: -10000px;
	position: absolute;
}

@media screen and (min-width: 600px) {
	.main-content {
    margin-top: 54px;
	}
}

@media screen and (min-width: 800px) {
	.main-content {
    margin-top: 58px;
	}
}
/* ====================== Navigation ====================== */
header {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;

	h1 {
		background-color: #252831;
		margin-bottom: 0;
		padding: 0;
		text-align: center;
		width: 100%;

		a {
			color: #fff;
			font-size: 20px;
			font-weight: 100;
			letter-spacing: 5px;
			text-transform: uppercase;

			&:active, &:focus {
				color: #fff;
				text-decoration: underline;
			}
		} /* a */
	} /* h1 */
} /* header */

nav {
  background-color: #eee;
}

.breadcrumb {
  font-size: 17px;
	list-style: none;
  margin: 0 auto;
	max-width: 1000px;
	padding: 10px 20px;

	/* Display list items side by side */
	li {
	  display: inline;

		/* Add a color to all links inside the list */
		a {
			color: #024C8D;
			text-decoration: none;

			/* Add a color on mouse-over */
			&:hover {
				color: #01447e;
				text-decoration: underline;
			}
		} /* a */
	} /* li */

	/* Add a slash symbol (/) before/behind each list item */
	li+li:before {
		color: black;
		content: "/\00a0";
	  padding: 8px;
	}

} /* breadcrumb */

@media screen and (min-width: 600px) {
	header h1 {
		padding: 3px;

		a {
			font-size: 25px;
		}
	} /* header h1 */
}

@media screen and (min-width: 800px) {
	header h1 {
		padding: 5px;

		a {
			font-size: 28px;
		}
	} /* header h1 */

	.breadcrumb li {
	  font-size: 18px;
	}
}
/* ====================== Map ====================== */
.map {
	background-color: #ccc;
  height: 300px;
  width: 100%;
}

.map-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	position: relative;

	h2 {
		margin: 10px 0;
	}
} /* .map-container */

.map-skip-link {
	background-color: #A36A00;
	color: white;
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	text-align: left;
	top: -10000px;
	width: 1px;
	z-index: 10000;

	&:active,
	&:focus {
		box-shadow: 0 0 7px 5px rgba(255,255,255,0.89);
		color: white;
		height: auto;
		left: 0;
		outline: 0;
		overflow: visible;
		padding: 10px;
		text-decoration: underline;
		top: 10px;
		width: auto;
	}
} /* .map-skip-link */

/* ====================== Restaurant Details ====================== */
.inside {
	/***** Navigation *****/
	header {
	  position: fixed;
	  top: 0;
	  width: 100%;
	}

	/***** Main *****/
	.main-content {
		margin-top: 93px;
	}
} /* .inside */

.restaurant-name {
	color: #A66317;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.1;
	margin: 15px 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

@media screen and (min-width: 600px) {
	.inside .main-content {
    margin-top: 99px;
	}

	.restaurant-name {
		font-size: 23px;
	}
}

@media screen and (min-width: 800px) {
	.inside .main-content {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		margin-top: 106px;
		max-width: 1000px;
		padding: 0 20px;
	}

	.restaurant-name {
		font-size: 26px;
		margin-top: 30px;
		order: -3;
		width: 100%;
	}
}

/***** containers *****/
.restaurant-container,
.reviews-container,
.opening-hours-container {
	margin: 20px auto;
	width: 90%;
}

@media screen and (min-width: 800px) {
	.reviews-container {
		width: 100%;
	}
}

/***** Restaurant image, cuisine, address *****/
.restaurant-container h1 {
	font-size: 20px;
}

.restaurant-img-container {
	display: block;
	margin: 10px 0;
	position: relative;
}

.restaurant-img {
	border-top-left-radius: 15px;
	display: block;
	width: 100%;
}

.restaurant-img,
.restaurant-cuisine {
	border-bottom-right-radius: 15px;
}

.restaurant-cuisine {
	background-color: rgb(45, 43, 43);
	background-color: rgba(45, 43, 43, 0.9);
	bottom: 0;
	color: #ddd;
	font-size: 12pt;
	font-weight: 400;
	letter-spacing: 8px;
	margin: 0;
	padding: 1px 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
	padding: 0 10px;
}

@media screen and (min-width: 450px) {
	.restaurant-cuisine {
		padding: 3px 0;
	}
}

@media screen and (min-width: 600px) {
	.restaurant-address {
	  font-size: 14pt;
	}

	.restaurant-cuisine {
		padding: 5px 0;
	}
}

@media screen and (min-width: 800px) {
	.restaurant-cuisine {
		font-size: 12pt;
		padding: 8px 0;
	}
}

@media screen and (min-width: 800px) {
	.restaurant-container {
		margin-top: 0;
		order: -1;
		width: 100%;
	}

	.restaurant-address {
		font-size: 16pt;
		padding: 0;
	}
}

/***** map *****/
@media screen and (min-width: 800px) {
	.inside .map-container {
		width: calc(50% - 20px);
	}
}

/***** opening hours *****/
.reviews-container h2,
.opening-hours-container caption {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 10px 0;
}

.opening-hours-container caption {
	color: #A66317;
}

.restaurant-hours {
	border-collapse: collapse;
	border-top: 1px solid lightgray;
	width: 100%;

	td {
		border-bottom: 1px solid lightgray;
		color: #666;
		font-size: 16px;
		padding: 5px 0;
		text-align: center;

		&:nth-child(1) {
		  font-weight: bold;
		}
	} /* td */
} /* .restaurant-hours */

@media screen and (min-width: 600px) {
	.reviews-container h2,
	.opening-hours-container caption {
	  font-size: 22px;
	}
}

@media screen and (min-width: 800px) {
	.opening-hours-container {
		margin-top: 0;
		width: calc(50% - 20px);
	}

	.reviews-container h2,
	.opening-hours-container caption {
	  font-size: 24px;
	}
}

/***** reviews container *****/
.reviews-heading-container {
	position: relative;
	width: 90%;
	display: table;
	margin: 0 auto;
	margin-top: 10px;
}

.add-review {
	min-width: 40px;
	min-height: 40px;
	font-size: 16px;
	background-color: #333333;
	color: white;
	font-family: inherit;
	padding: 5px 10px;
	border: 0;
	outline: 0;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 300;
	float: right;

	&:active, &:focus {
		text-decoration: underline;
	  box-shadow: 0px 0px 10px 2px #3b99fc;
		background-color: #A36A00;
		font-weight: normal;
	}
}

.reviews-container h2 {
	float: left;
	margin-top: 5px;
}

@media screen and (min-width: 800px) {
	.reviews-heading-container {
		width: 85%;
	}

	.add-review {
		position: absolute;
		top: 0;
		right: 0;
		float: none;
	}

	.reviews-container h2 {
		margin-top: 0;
		float: none;
	}
}

@media screen and (min-width: 900px) {
	.reviews-heading-container {
		width: 80%;
	}
}

/***** reviews list *****/
.reviews-container {
	background-color: #f2f2f2;
	margin-top: 10px;
	padding: 10px 0;

	h2 {
		color: #995B15;
	}
} /* .reviews-container */

.reviews-list {
  margin: 0;
  padding: 0;
	clear: both;
}

.review {
	background-color: #fff;
	border: 2px solid #fcfcfc;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	display: block;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
	width: 90%;

	p {
	  margin: 0 0 10px;
	}
} /* .review */

.review-header {
	background-color: #333333;
	color: white !important;
	display: block;
	padding: 10px 15px;
}

.review-content {
	display: block;
	padding: 10px 20px;
}

.review-name {
	color: white !important;
	display: inline;
	font-weight: 400;
	letter-spacing: 1px;
}

.review-date {
	color: white !important;
	float: right;
	font-size: 11pt;
	font-weight: 200;
}

.review-rating {
	background-color: #AB6617;
	border-radius: 2px;
	color: white;
	display: inline-block;
	font-size: 11pt;
	letter-spacing: 1px;
	padding: 3px 10px;
	text-transform: uppercase;
}

@media screen and (min-width: 600px) {
	.review-content {
		padding: 20px 40px;
	}
}

@media screen and (min-width: 800px) {
	.review {
		width: 85%;

		p {
		  font-size: 13pt;
			word-spacing: 3px;
		}
	} /* .review */

	.review-content {
		padding: 25px 60px;
	}
}

@media screen and (min-width: 900px) {
	.review {
		width: 80%;
	}
}

/***** leaflet *****/
.leaflet-container a {
    color: #005475 !important;
}

/***** mark as favourite *****/

.mark-as-favourite-container {
  width: fit-content;
	margin: 20px 0 20px 20px;

	.mark-as-favourite {
	  border: none;
	  outline: none;
	  cursor: pointer;
	  font-family: Open-sans, sans-serif;
	  font-size: 16px;
	  box-shadow: 0px 0px 4px 1px rgba(204,204,204,0.83);
	  padding: 6px;
	  border-radius: 2px;
		background-color: white;

		&:disabled {
		  cursor: wait;
		  opacity: 0.7;
		}

		&:focus, &:active {
		  box-shadow: 0px 0px 10px 2px #3b99fc;
			text-decoration: underline;
		}

		.favourite-star {
		  font-size: 20px;

			&.marked {
			  color: #a37904;
			}

			&.unmarked {
			  color: gray;
			}
		} /* .favourite-star */
	} /* .mark-as-favourite */

	.spinner {
	  visibility: hidden;
	  float: right;

		&.show {
		  visibility: visible;
		}
	} /* .spinner */
} /* .mark-as-favourite-container */

@media screen and (min-width: 400px) {
	.mark-as-favourite-container {
		margin: 20px 0 20px 30px;
	}
}

@media screen and (min-width: 600px) {
	.mark-as-favourite-container {
		margin: 20px 0 20px 40px;
	}
}

@media screen and (min-width: 800px) {
	.mark-as-favourite-container {
		margin: 20px 0;
	}
}

/***** modal *****/

body.has-open-modal {
  overflow: hidden;
}

.overlay {
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  overflow: auto;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

.overlay-content {
  background-color: white;
  border: 1px solid gray;
  position: absolute;
  left: 10px;
  right: 10px;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
/*   bottom: 0;
  top: 0; */
  height: max-content;
  overflow: auto;
}
